:root {
	font-family: Georgia, serif;
	color: #1b1b1b;
}

html {
	scroll-behavior: smooth;
}

body {
	margin: 0;
	background-color: #f8f8f8;
}

h1 {
	font-size: 2em;
}

::selection {
	background-color: yellow;
}

strong {
	font-family: Helvetica, sans-serif;
}

blockquote {
	font-family: 'Barlow', sans-serif;
	font-size: 20px;
	font-style: italic;
}

cite {
	font-style: normal;
}

main {
	width: 75%;
	max-width: 700px;
	margin: auto;
	margin-top: 5em;
	padding: 1em;
}

/* text-based elements */
#name {
	/*font-weight: normal;*/
	margin-left: 1em;
	display: inline-block;
}

#home {
	cursor: pointer;
}

#font {
	font-family: 'Barlow', sans-serif;
	font-weight: normal;
	/*background-color: #1b1b1b;
	color: #f8f8f8;*/
}

.italics {
	font-style: italic;
	font-weight: normal;
}

/* navigation elements */

header {
	position: fixed;
	top: 0;
	width: calc(100% - 1em);
	
	
	border-bottom: 2px solid #1b1b1b;
	background-color: #f8f8f8;
	padding: 0.5em; /* SUBJECT TO CHANGE */
	
	padding-top: 0em;
	padding-bottom: 0em;
	
	z-index: 1;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	/*padding-top: 1em;
	padding-bottom: 1em;*/
}

nav > ul {
	display: flex;
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	font-family: 'Barlow', sans-serif;
}

nav > ul  li {
	padding: 1em;
}

/* I want it to do this but since you can't click ... idk maybe I'll switch the a and li tags around at some point
nav > ul > li:hover {
	cursor: pointer;
} */

nav > ul li::after {
	content: "";
	display: block;
	width: 100%;
	height: 2px;
	background-color: #1b1b1b;
	transition: transform 0.2s ease-in-out;
    transform: scale(0);
}

nav > ul li:hover::after {
	transform: scale(1);
}

nav a {
	text-decoration: none;
	color: #1b1b1b;
	height: 100%;
	width: 100%;
}

#blog-button {
	background-color: #1b1b1b;
}

#blog-button > a {
	color: #f8f8f8;
}

#blog-button::after {
	background-color: #f8f8f8;
}

.onpage::after {
	transform: scale(1);
}

/* PAGE CONTENT */

#me {
	display: inline;
	float: right;
	margin-left: 1em;
	margin-bottom: 1em;
	margin-right: 0;
	z-index: -1;
	width: 200px;
}

#me > img {
	height: 200px;
	width: 200px;
	clip-path: circle();
}

figcaption {
	font-style: italic;
	text-align: center;
	margin-top: 0.5em;
	font-family: 'Barlow', sans-serif;
}

main > p, main > ul > li, .post > p {
	font-size: 20px;
	line-height: 1.75em;
}

li > ul {
	list-style: square;
}

main > h2 {
	scroll-margin-top: 4em;
	font-weight: normal; /* still deciding */
	font-size: 28px;
	font-family: Helvetica, sans-serif;
}

main > h3, .post > h3 {
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: 28px;
	margin-bottom: 0.5em;
} 

main > h4 {
	font-weight: normal;
	font-family: Helvetica, sans-serif;
	font-size: 24px;
}

main a {
	color: #1b1b1b;
}

main a:hover {
	background-color: yellow;
}

/* footer stuff */

footer {
	text-align: center;
	font-family: 'Barlow', sans-serif;
}

/* #sky {
    position: fixed;
	height: 40px;
	width: 40px;
    bottom: 2em;
    right: 2em;
    cursor: pointer;
	box-shadow: 5px 5px 5px 1px;
} */

/* blog things */

.post {
	border-bottom: 2px dotted #1b1b1b;
}

.date {
	display: inline-block;
	text-align: right;
	font-family: 'Barlow', sans-serif;
	margin-bottom: 1em;
}

@media screen and (max-width: 950px) {
	header {
		text-align: center;
	}
	
	main {
		margin-top: 8.5em;
	}
	
	main > h2 {
		scroll-margin-top: 6.25em;
	}
	
	#name {
		margin-left: 0;
		margin-bottom: 0.25em;
	}
	
	nav {
		flex-direction: column;
		margin-left: auto;
		margin-right: auto;
	}
	
	nav > ul {
		padding: 1em;
	}
}

@media screen and (max-width: 600px) {
	.italics, #slash {
		display: none;
	}
	
	#me {
		margin-left: auto;
		margin-right: auto;
		display: block;
		float: none;
	}
	
	main > p, main > ul > li, blockquote {
		font-size: 18px;
	}
	
	header { 
		text-size-adjust: none;
		-webkit-text-size-adjust: none;
		-moz-text-size-adjust: none;
		-ms-text-size-adjust: none;
	}
}

/* @media screen and (max-width: 360px) {
	nav {
		display: block;
	}

	nav > ul {
		overflow: auto;
		#f8f8f8-space: no-wrap;
		-webkit-overflow-scrolling: touch;
	}

	nav > ul::-webkit-scrollbar {
		display: none;
	}

	nav > ul > li {
		display: flex;
	}
} */